[build]
builder = "NIXPACKS"
buildCommand = "npm ci --production"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
NODE_ENV = "production"
PORT = "7000"
